In [ ]:
import pandas as pd
import numpy as np

In [ ]:
X = np.empty((6,6))
X[1,1] = np.nan
X[2,2] = np.nan
X[0,4] = np.nan

In [ ]:
X

In [6]:
df = pd.DataFrame(X)
df

,0,1,2,3,4,5
0,9.204600e-312,9.204271e-312,7.351616e+223,6.013470e-154,NaN,4.884835e+252
1,6.013290e-154,NaN,9.204711e-312,9.204335e-312,3.946551e+180,6.013470e-154
2,1.329712e-152,2.217567e+68,NaN,3.170959e+180,2.437227e-152,2.181744e+243
3,1.482544e+195,5.466536e+241,2.465998e-154,6.013470e-154,3.447478e-85,5.981422e-154
4,1.240024e+180,2.464549e-154,2.473798e-91,1.186005e-259,6.013470e-154,7.358765e+223
5,2.994843e+262,2.865238e+161,7.628620e+228,7.358765e+223,6.013470e-154,2.181846e+243

In [7]:
df[2].mean

<bound method NDFrame._add_numeric_operations.<locals>.mean of 0    7.351616e+223
1    9.204711e-312
2              NaN
3    2.465998e-154
4     2.473798e-91
5    7.628620e+228
Name: 2, dtype: float64>

In [ ]:
value = df[1].mean
df[1].fillna(value, inplace=True)
df